# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraform.lock.hcl

# Sensitive vars
*.tfvars
*.auto.tfvars

# Optional lock file
# .terraform.lock.hcl

# Local inventory / env-specific
inventory.ini

# OS / editor
.DS_Store
Thumbs.db
